body {
    font-size: medium;
    font-family: 'Segoe UI';
}

div {
    margin: 0.5em 5%;
    padding: 0.5em 5%;
}

h1 {
    margin-top: -0.2em;
}

h2 {
    margin-top: -1em;
}

h3 {
    #display: inline;
    margin-right: 2em;
}

p {
    line-height: 2em;
}

.clear {
    clear: both;
}

.avatar {
    position: absolute;
    right: 10%;
    top: 0;
    height: 4cm;
    width: 3cm;
}